/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        alt_combo {
            bindings = <&kp LEFT_ALT>;
            key-positions = <54 28>;
        };
    };

    behaviors {
        alt_win: alt_win {
            compatible = "zmk,behavior-hold-tap";
            label = "ALT_WIN";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "tap-preferred";
        };

        layer_space: layer_space {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_SPACE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
            retro-tap;
            require-prior-idle-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //   ------------------------------------------------------------------------------------------------------------
            //  0|  ESC  |  1  |  2  |  3   |  4   |  5   |                     |  6   |  7    |  8    |  9   |   0   |   =   | 11
            // 12|  TAB  |  Q  |  W  |  E   |  R   |  T   |                     |  Y   |  U    |  I    |  O   |   P   |   [   | 23
            // 24|  SFT  |  A  |  S  |  D   |  F   |  G   |  RESET  |  | RESET  |  H   |  J    |  K    |  L   |   ;   | ' SFT | 37
            // 38|  CTRL |  Z  |  X  |  C   |  V   |  B   |  MUTE   |  | PLAY   |  N   |  M    |  ,    |  .   |   /   | \ CTRL| 51
            // 52                    |ENT RS|  ALT | SPACE|DELETE LW|  |ENTER RS| BSPC |  ] LW | RGUI  |                        59

            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3        &kp NUMBER_4  &kp N5                                           &kp N6     &kp N7  &kp N8     &kp N9   &kp N0         &kp MINUS
&kp TAB    &kp Q   &kp W   &kp E         &kp R         &kp T                                            &kp Y      &kp U   &kp I      &kp O    &kp P          &kp LEFT_BRACKET
&kp LSHFT  &kp A   &kp S   &kp D         &kp F         &kp G   &kp C_MUTE            &kp C_PLAY_PAUSE   &kp H      &kp J   &kp K      &kp L    &kp SEMICOLON  &kp SQT
&kp LCTRL  &kp Z   &kp X   &kp C         &kp V         &kp B   &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH       &mt RCTRL BSLH
                           &kp LEFT_ALT  &mo 2         &mo 1   &layer_space 3 SPACE  &kp BACKSPACE      &kp ENTER  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | `     |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |       |  !  | HOME|   ^  |  END |  %   |                   | VOL^ |  PGUP |  INS  |  ^   |  PSCR |   -   |
            // |       |  #  |  <- |   v  | ->   |  $   |        |  |       | VOLv |    <- |   ^   |  ->  |   ~   |   _   |
            // |       |  @  |  -  |  (   |  )   |  &   |        |  |       | MUTE |  PGDN |   v   |  :   |   *   |   |   |
            //                     |  F11 |      |      |        |  |       |      |       |  F12  |

            bindings = <
&kp LG(D)      &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(N5)                                     &trans     &trans              &trans     &trans  &trans  &trans
&kp DEL        &kp LC(W)         &kp LC(C)         &kp UP            &kp LC(V)         &kp LS(LG(S))                                  &trans     &trans              &trans     &trans  &trans  &trans
&kp ENTER      &kp LC(A)         &kp LEFT          &kp DOWN          &kp RIGHT         &kp LA(LS(S))  &trans          &msc MOVE_X(5)  &kp COMMA  &kp LA(LEFT_SHIFT)  &kp COLON  &trans  &trans  &trans
&kp BACKSPACE  &kp LC(Z)         &bt BT_CLR        &kp LC(LS(TAB))   &kp LC(TAB)       &kp LC(T)      &bt BT_CLR_ALL  &trans          &kp DOT    &kp QUESTION        &trans     &trans  &trans  &trans
                                                   &trans            &trans            &trans         &trans          &trans          &trans     &trans              &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_NEXT C_PREV>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |OUTTOG|OUTUSB| OUTBT |      | RESET | FLASH |
            // |     | INS  | PSCR | GUI   | RESET |      |                | PGUP |      |   ^   |      |       |       |
            // |     | ALT  | CTRL | SHIFT | FLASH | CAPS |      |  |      | PGDN |   <- |   v   |  ->  |  DEL  | BSPC  |
            // |     | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |  |>  |  <|<| | |>|> |       |       |
            //                     |       |       |      |      |  |      |      |      |       |

            bindings = <
&none   &none   &none   &none   &none         &none                   &trans  &trans  &trans  &trans  &sys_reset  &bootloader
&trans  &trans  &trans  &trans  &trans        &trans                  &trans  &trans  &trans  &trans  &trans      &trans
&trans  &trans  &trans  &trans  &kp LEFT_WIN  &trans  &trans  &trans  &trans  &trans  &none   &trans  &none       &none
&trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans  &trans  &none   &none   &none   &trans      &trans
                        &trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };

        layer_3 {
            bindings = <
&trans         &none             &none   &trans  &trans  &trans                     &trans  &trans  &trans  &trans  &trans  &trans
&kp COMMA      &kp MINUS         &kp N1  &kp N2  &kp N3  &kp PLUS                   &trans  &trans  &trans  &trans  &trans  &trans
&kp ENTER      &kp LC(ASTERISK)  &kp N4  &kp N5  &kp N6  &kp EQUAL  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp BACKSPACE  &kp SLASH         &kp N7  &kp N8  &kp N9  &kp N0     &none   &none   &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
